:root{
  --roxo-forte: #360070;
  --roxo-escurinho: #58436B;
  --roxo-megaforte: #240046;
  --roxo-fraco: #9D4EDD;
}

*{
  margin: 0;
  padding: 0;
}

.cabecalho{ 
    background-color: #360070;
    display: flex;
    justify-content: center;
}

.logo{
    width: 6%;
}

.menu-item{
  color: white;
display: inline;
padding: 10px;
margin-top: 20px;
font-size: 25px;
}

.principal{
  background-color: var(--azul--fraco--fraco--);
  color: #fff;
  display: flex;
  justify-content: center;
align-items: center;
}
.principal_titulo{
  font-size: 55px;
}

.principal_imagem{
padding: 5px;
width: 250px;
}